# System & IDEs
*.log
*.swp
*Zone.Identifier
.DS_Store
.env
.envrc
.netrwhist
.npmrc
.ssh/*
.trash
.vscode/
Thumbs.db
log/

# Obsidian
conflict-files-obsidian-git.md
data.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json

###
# Rails
###

# Gemfile.lock, .ruby-version, .ruby-gemset # these should all be checked in to normalize the environment:
.bundle
.bundle
.env
.env*.local
.rvmrc
vendor/bundle

config/initializers/secret_token.rb
config/master.key
log/*
!log/.keep
storage/*
!storage/.keep
tmp/*
!tmp/.keep
!tmp/pids/
tmp/pids/*
!tmp/pids/.keep
!tmp/storage/
tmp/storage/*
!tmp/storage/.keep

db/*.sqlite3
db/*.sqlite3-journal
db/*.sqlite3-[0-9]*
public/system
public/assets
public/uploads

*.rbc
capybara-*.html
.rspec
coverage/
spec/tmp
*.orig
rerun.txt

app/assets/builds/*
!app/assets/builds/.keep
pickle-email-*.html
bower.json
*.bowerrc
.byebug_history
node_modules/
.powenv
public/assets
public/packs
public/packs-test
vendor/assets/bower_components
yarn-debug.log*
yarn-error.log
.yarn-integrity
